@media only screen and (min-width: 992px) {
  .btn {
    font-size: 16px;
    line-height: 12px;
    padding: 7px 10px;
    border-radius: 10px;

    &-accept {
      padding: 7px 12px;
      width: 80px;
      color: white;
      background-color: $green_color;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-edit {
      padding: 7px 17px;
      background-color: $green_color;
      color: white;
      width: 80px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-info {
      padding: 0 5px;
      line-height: 1.2;
      margin-left: 3px;

      &:hover {
        transform: translateY(-2px);
        color: $primary_color
      }

      &:active {
        transform: translateY(2px);
        color: $primary_color
      }
    }

    &-large {
      padding-left: 30px;
      padding-right: 30px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-white {
      border: 1px solid $gray;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-delete {
      color: white;
      background-color: $red_color;
      width: 80px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-detail {
      color: $gray;
      background-color: $light_gray;
      width: 80px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-green {
      background-color: $green_color;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-orange {
      background-color: $primary_color;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-grey {
      background-color: $gray;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .btn {
    line-height: 12px;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 15px;

    &-accept {
      padding: 7px 12px;
      width: 80px;
      color: white;
      background-color: $green_color;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-edit {
      padding: 7px 17px;
      background-color: $green_color;
      color: white;
      width: 80px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-delete {
      color: white;
      background-color: $red_color;
      width: 80px;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-detail {
      color: $gray;
      background-color: $light_gray;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-green {
      background-color: $green_color;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-orange {
      background-color: $primary_color;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }

    &-grey {
      background-color: $gray;
      color: white;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.btn-submit {
  height: 38px;
  color: #fff;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 80px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid hsla(0, 0%, 100%, .57);
  align-items: center;
  margin-bottom: 10px;
  background: linear-gradient(211deg, #8BC249 , #23A455);

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(2px);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $primary_color;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
}
